/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #dde6f8;
  margin: 0;
  padding: 20px;
}

.logo {
  width: 160px;
  height: auto;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
}

.plantilla-img {
  width: 520px;
  height: auto;
}

.plantilla{
  margin-top: 20px;
}

.plantilla-text{
  font-size: 25px;
  font-weight: bold;
}

h1 {
  color: #103c64;
  font-size: 50px;
}

button {
  background-color: #103c64;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 12px;
  width: 160px;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 14px;
  color: #666;
}
